/**
 * Created D/15/12/2013
 * Updated S/16/10/2021
 *
 * Copyright 2008-2022 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://www.luigifab.fr/openmage/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& dialogues &&& */
#apijsBox { font:0.8rem sans-serif; }
#apijsBox.error { font-weight:normal !important; color:black !important; }
#apijsBox.photo.error, #apijsBox.video.error { background-image:url("../../../images/luigifab/apijs/tv.gif"); }

#apijsBox button { font-family:sans-serif; font-weight:400; background-image:none; }
#apijsBox button.cancel span, #apijsBox button.delete span { padding:0; background:none; }

#apijsBox .left, #apijsBox .right, #apijsBox button :before { float:inherit !important; }

@font-face {
	/* apijsFontelloOpenMage sinon erreur 404, voir https://stackoverflow.com/a/35034674 */
	src:url("../../../fonts/luigifab/apijs/fontello.woff2") format("woff2"), url("../../../fonts/luigifab/apijs/fontello.woff") format("woff");
	font-family:apijsFontelloOpenMage; font-weight:400; font-style:normal;
}

#apijsBox h1:before, #apijsBox div.btns button span:before, #apijsBox kbd:before, #apijsBox span.player span.fnt {
	font-family:apijsFontelloOpenMage;
}

#apijsBox.options.editname input[type="text"] {
	display:block; padding:0.3em; width:calc(100% - 4px - 0.6em);
	border:1px solid #888; background-color:#EEE;
}

#apijsBox.upload h1 { letter-spacing:-0.05em; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& global &&& */
button.slink {
	display:inline; margin:0; padding:0 0 1px; line-height:1;
	font-weight:400; text-decoration:underline; color:#EA7601; border:0; background:none;
}

td div.image.preview {
	display:inline-block; padding:3px;
	border-width:1px; border-style:solid; border-color:#AAA #C8C8C8 #C8C8C8 #AAA; background-color:white;
}

td div.image.preview input { font-size:12px; border:0; background:white; }
td div.image.preview a { display:block; margin:4px 25px 3px; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& galerie photo &&& */
#apijsGallery table.gallery { width:100%; }
#apijsGallery table.gallery .remove { color:red; }
#apijsGallery table.gallery td { text-align:center; vertical-align:top; white-space:nowrap; }

#apijsGallery table.gallery thead tr.headings th {
	position:sticky; top:37px; padding:2px 5px; line-height:130%; text-align:center; vertical-align:middle;
	background:url("../../../images/sort_row_bg.gif") 0 50% repeat-x;
}

#apijsGallery table.gallery thead tr.filter th {
	position:sticky; top:72px; padding:8px 5px 6px; line-height:130%; text-align:center; vertical-align:middle;
	font-weight:400; background:url("../../../images/filter_row_bg.gif") repeat-x #E3EFF1;
}

#apijsGallery table.gallery thead input { display:inline; width:35px !important; }
#apijsGallery table.gallery thead span { font-size:10px; font-weight:400; line-height:150%; }

#apijsGallery table.gallery tfoot td { position:sticky; bottom:0; }
#apijsGallery table.gallery tfoot p { margin:0.4em; line-height:130%; text-align:left; }
#apijsGallery table.gallery tfoot button { float:right; margin:2px 0 0 8px; cursor:pointer; }

#apijsGallery table.gallery tbody tr.separ {
	scroll-margin-top:10em; scroll-snap-margin-top:10em;
	user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none;
}

#apijsGallery table.gallery tbody tr.separ td { background-color:#EEE !important; cursor:pointer; }
#apijsGallery table.gallery tbody tr.separ.inf td { background-color:#F7F7F7 !important; cursor:pointer; text-transform:lowercase; }
#apijsGallery table.gallery tbody td.mark { background-color:#DEFFDE !important; }

#apijsGallery table.gallery tbody td { vertical-align:middle; }
#apijsGallery table.gallery tbody td.img { padding:3px; width:200px; }
#apijsGallery table.gallery tbody td.hgt { line-height:150px; color:gray; }
#apijsGallery table.gallery tbody td.last { white-space:inherit; }
#apijsGallery table.gallery tbody td:not(.last) * { display:block; }

#apijsGallery table.gallery tbody label { font-size:10px; cursor:pointer; }
#apijsGallery table.gallery tbody input.inl { display:inline; }

#apijsGallery table.gallery tbody input:disabled { background-color:#EFEFEF; }
#apijsGallery table.gallery tbody input.check { margin:0.3em auto; cursor:pointer; }
#apijsGallery table.gallery tbody input.input-text { margin-bottom:1em; width:100% !important; box-sizing:border-box; -moz-box-sizing:border-box; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& apijs/wysiwyg/index &&& */
body.adminhtml-apijs-wysiwyg-index .side-col { padding-top:39px; }
body.adminhtml-apijs-wysiwyg-index .main-col .content-header { padding:0 0 0.25em; }
body.adminhtml-apijs-wysiwyg-index .main-col #contents { height:inherit; overflow:visible; }

body.adminhtml-apijs-wysiwyg-index #loading-mask, body.adminhtml-apijs-wysiwyg-index #button_insert_files { display:none; }
body.adminhtml-apijs-wysiwyg-index #button_delete_files { display:none; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& browser window &&& */
body #browser_window .magento_content { overflow:hidden; }
body #browser_window .side-col { margin-top:48px; }
body #browser_window .main-col { padding:0; }
body #browser_window .main-col .content-header { margin-left:-220px; overflow:hidden; white-space:nowrap; }
body #browser_window .main-col #contents { height:500px; }

body #browser_window #button_delete_files { display:none; }

/* &&&&&&&&&&&&& apijs/wysiwyg/index & browser window &&& */
body.adminhtml-apijs-wysiwyg-index .main-col .content-header .icon-head, body #browser_window .main-col .content-header .icon-head {
	background-image:url("../../../images/application_view_tile.gif");
}

body.adminhtml-apijs-wysiwyg-index .main-col .album, body #browser_window .main-col .album { text-align:left; }
body.adminhtml-apijs-wysiwyg-index .main-col .desc, body #browser_window .main-col .desc { margin:0.3em 0 0.1em; text-align:left; }

body.adminhtml-apijs-wysiwyg-index .main-col .filecnt, body #browser_window .main-col .filecnt {
	float:inherit !important; display:inline-block !important; width:200px !important; cursor:default !important;
}

body.adminhtml-apijs-wysiwyg-index .main-col .filecnt.selected, body #browser_window .main-col .filecnt.selected {
	border-color:#CCC !important; background-color:white !important;
}

body.adminhtml-apijs-wysiwyg-index .main-col .filecnt .img, body #browser_window .main-col .filecnt .img {
	display:flex; margin-bottom:0.5em; width:200px; height:150px; justify-content:center; align-items:center;
	text-decoration:none; background-color:#EFEFEF;
}

body.adminhtml-apijs-wysiwyg-index .main-col .filecnt .filename, body #browser_window .main-col .filecnt .filename {
	overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}