<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created S/19/11/2011
 * Updated V/05/08/2022
 *
 * Copyright 2008-2022 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://www.luigifab.fr/openmage/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<modules>
		<Luigifab_Apijs>
			<version>6.9.1</version>
		</Luigifab_Apijs>
	</modules>
	<global>
		<blocks>
			<apijs>
				<class>Luigifab_Apijs_Block</class>
			</apijs>
			<adminhtml>
				<rewrite>
					<cache_additional>Luigifab_Apijs_Block_Adminhtml_Rewrite_Additional</cache_additional>
					<system_config_form_field_image>Luigifab_Apijs_Block_Adminhtml_Rewrite_Configimg</system_config_form_field_image>
					<catalog_product_helper_form_image>Luigifab_Apijs_Block_Adminhtml_Rewrite_Productimg</catalog_product_helper_form_image>
					<catalog_category_helper_image>Luigifab_Apijs_Block_Adminhtml_Rewrite_Categoryimg</catalog_category_helper_image>
					<catalog_product_helper_form_gallery_content>Luigifab_Apijs_Block_Adminhtml_Rewrite_Gallery</catalog_product_helper_form_gallery_content>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<apijs>
				<class>Luigifab_Apijs_Helper</class>
			</apijs>
			<catalog>
				<rewrite>
					<image>Luigifab_Apijs_Helper_Rewrite_Image</image>
				</rewrite>
			</catalog>
		</helpers>
		<models>
			<apijs>
				<class>Luigifab_Apijs_Model</class>
			</apijs>
			<catalog>
				<rewrite>
					<product_attribute_backend_media>Luigifab_Apijs_Model_Rewrite_Media</product_attribute_backend_media>
					<category_attribute_backend_image>Luigifab_Apijs_Model_Rewrite_Categoryimg</category_attribute_backend_image>
				</rewrite>
			</catalog>
			<catalog_resource>
				<rewrite>
					<product_attribute_backend_media>Luigifab_Apijs_Model_Rewrite_Mediares</product_attribute_backend_media>
					<product_attribute_backend_image>Luigifab_Apijs_Model_Rewrite_Productimg</product_attribute_backend_image>
				</rewrite>
			</catalog_resource>
			<cms>
				<rewrite>
					<wysiwyg_images_storage>Luigifab_Apijs_Model_Rewrite_Storage</wysiwyg_images_storage>
				</rewrite>
			</cms>
			<core>
				<rewrite>
					<file_validator_image>Luigifab_Apijs_Model_Rewrite_Validator</file_validator_image>
				</rewrite>
			</core>
		</models>
		<resources>
			<apijs_setup>
				<setup>
					<module>Luigifab_Apijs</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</apijs_setup>
		</resources>
		<events>
			<controller_front_send_response_before>
				<observers>
					<apijs>
						<class>apijs/python</class>
						<method>waitThreads</method>
					</apijs>
				</observers>
			</controller_front_send_response_before>
			<catalog_category_delete_commit_after>
				<observers>
					<apijs>
						<class>apijs/observer</class>
						<method>removeCategoryImages</method>
					</apijs>
				</observers>
			</catalog_category_delete_commit_after>
			<catalog_product_delete_commit_after>
				<observers>
					<apijs>
						<class>apijs/observer</class>
						<method>removeProductImages</method>
					</apijs>
				</observers>
			</catalog_product_delete_commit_after>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<apijs>
					<file>luigifab/apijs.xml</file>
				</apijs>
			</updates>
		</layout>
		<translate>
			<modules>
				<Luigifab_Apijs>
					<files>
						<default>Luigifab_Apijs.csv</default>
					</files>
				</Luigifab_Apijs>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Luigifab_Apijs before="Mage_Adminhtml">Luigifab_Apijs</Luigifab_Apijs>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<admin_system_config_changed_section_apijs>
				<observers>
					<apijs>
						<class>apijs/observer</class>
						<method>clearCache</method>
					</apijs>
				</observers>
			</admin_system_config_changed_section_apijs>
			<controller_action_predispatch_adminhtml_apijs_media_save>
				<observers>
					<apijs>
						<class>apijs/observer</class>
						<method>updatePostForGallery</method>
					</apijs>
				</observers>
			</controller_action_predispatch_adminhtml_apijs_media_save>
			<controller_action_predispatch_adminhtml_catalog_product_save>
				<observers>
					<apijs>
						<class>apijs/observer</class>
						<method>updatePostForGallery</method>
					</apijs>
				</observers>
			</controller_action_predispatch_adminhtml_catalog_product_save>
		</events>
		<layout>
			<updates>
				<apijs>
					<file>luigifab/apijs.xml</file>
				</apijs>
			</updates>
		</layout>
		<translate>
			<modules>
				<Luigifab_Apijs>
					<files>
						<default>Luigifab_Apijs.csv</default>
					</files>
				</Luigifab_Apijs>
			</modules>
		</translate>
		<cms>
			<browser>
				<extensions>
					<allowed>
						<svg>1</svg>
						<webp>1</webp>
					</allowed>
					<image_allowed>
						<svg>1</svg>
						<webp>1</webp>
					</image_allowed>
				</extensions>
			</browser>
		</cms>
	</adminhtml>
	<default>
		<apijs>
			<general>
				<remove_cache>1</remove_cache>
				<python>1</python>
				<browser>1</browser>
				<one_max_size>25</one_max_size>
				<all_max_size>300</all_max_size>
			</general>
			<gallery>
				<picture_width>280</picture_width>
				<picture_height>210</picture_height>
				<thumbnail_width>64</thumbnail_width>
				<thumbnail_height>48</thumbnail_height>
			</gallery>
		</apijs>
	</default>
</config>