<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created S/19/11/2011
 * Updated S/23/05/2015
 * Version 22
 *
 * Copyright 2008-2015 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * https://redmine.luigifab.info/projects/magento/wiki/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<modules>
		<Luigifab_Apijs>
			<version>5.2.0</version>
		</Luigifab_Apijs>
	</modules>
	<global>
		<blocks>
			<apijs>
				<class>Luigifab_Apijs_Block</class>
			</apijs>
			<adminhtml>
				<rewrite>
					<cms_wysiwyg_images_content_uploader>Luigifab_Apijs_Block_Adminhtml_Rewrite_Uploader</cms_wysiwyg_images_content_uploader>
					<catalog_product_helper_form_gallery_content>Luigifab_Apijs_Block_Adminhtml_Rewrite_Gallery</catalog_product_helper_form_gallery_content>
				</rewrite>
			</adminhtml>
			<catalog>
				<rewrite>
					<product_view_media>Luigifab_Apijs_Block_Media</product_view_media>
				</rewrite>
			</catalog>
		</blocks>
		<helpers>
			<apijs>
				<class>Luigifab_Apijs_Helper</class>
			</apijs>
		</helpers>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<luigifab_apijs before="Mage_Adminhtml">Luigifab_Apijs</luigifab_apijs>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<layout>
			<updates>
				<apijs>
					<file>luigifab/apijs.xml</file>
				</apijs>
			</updates>
		</layout>
		<translate>
			<modules>
				<Luigifab_Apijs>
					<files>
						<default>Luigifab_Apijs.csv</default>
					</files>
				</Luigifab_Apijs>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<apijs>
					<file>luigifab/apijs.xml</file>
				</apijs>
			</updates>
		</layout>
		<translate>
			<modules>
				<Luigifab_Apijs>
					<files>
						<default>Luigifab_Apijs.csv</default>
					</files>
				</Luigifab_Apijs>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<apijs>
			<gallery>
				<picture_width>280</picture_width>
				<picture_height>210</picture_height>
				<thumbnail_width>64</thumbnail_width>
				<thumbnail_height>48</thumbnail_height>
			</gallery>
		</apijs>
	</default>
</config>