<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created S/19/11/2011
 * Updated S/25/04/2020
 *
 * Copyright 2008-2020 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://www.luigifab.fr/magento/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<modules>
		<Luigifab_Apijs>
			<version>6.1.0</version>
		</Luigifab_Apijs>
	</modules>
	<global>
		<blocks>
			<apijs>
				<class>Luigifab_Apijs_Block</class>
			</apijs>
			<adminhtml>
				<rewrite>
					<cms_wysiwyg_images_tree>Luigifab_Apijs_Block_Adminhtml_Rewrite_Tree</cms_wysiwyg_images_tree>
					<system_config_form_field_image>Luigifab_Apijs_Block_Adminhtml_Rewrite_Config</system_config_form_field_image>
					<catalog_category_helper_image>Luigifab_Apijs_Block_Adminhtml_Rewrite_Category</catalog_category_helper_image>
					<catalog_product_helper_form_gallery_content>Luigifab_Apijs_Block_Adminhtml_Rewrite_Gallery</catalog_product_helper_form_gallery_content>
				</rewrite>
			</adminhtml>
			<catalog>
				<rewrite>
					<product_view_media>Luigifab_Apijs_Block_Rewrite_Media</product_view_media>
				</rewrite>
			</catalog>
		</blocks>
		<helpers>
			<apijs>
				<class>Luigifab_Apijs_Helper</class>
			</apijs>
			<catalog>
				<rewrite>
					<image>Luigifab_Apijs_Helper_Rewrite_Image</image>
				</rewrite>
			</catalog>
		</helpers>
		<models>
			<apijs>
				<class>Luigifab_Apijs_Model</class>
				<adaptators>
					<default>Varien_Image</default>
				</adaptators>
			</apijs>
			<catalog>
				<rewrite>
					<product_attribute_backend_media>Luigifab_Apijs_Model_Rewrite_Media</product_attribute_backend_media>
				</rewrite>
			</catalog>
			<catalog_resource>
				<rewrite>
					<product_attribute_backend_media>Luigifab_Apijs_Model_Rewrite_Mediares</product_attribute_backend_media>
				</rewrite>
			</catalog_resource>
		</models>
		<resources>
			<apijs_setup>
				<setup>
					<module>Luigifab_Apijs</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</apijs_setup>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<apijs>
					<file>luigifab/apijs.xml</file>
				</apijs>
			</updates>
		</layout>
		<translate>
			<modules>
				<Luigifab_Apijs>
					<files>
						<default>Luigifab_Apijs.csv</default>
					</files>
				</Luigifab_Apijs>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Luigifab_Apijs before="Mage_Adminhtml">Luigifab_Apijs</Luigifab_Apijs>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<catalog_product_delete_after_done>
				<observers>
					<apijs_delete_image>
						<class>apijs/observer</class>
						<method>deleteProductFiles</method>
					</apijs_delete_image>
				</observers>
			</catalog_product_delete_after_done>
			<controller_action_predispatch_adminhtml_apijs_media_save>
				<observers>
					<apijs_save_product>
						<class>apijs/observer</class>
						<method>updatePostForGallery</method>
					</apijs_save_product>
				</observers>
			</controller_action_predispatch_adminhtml_apijs_media_save>
			<controller_action_predispatch_adminhtml_catalog_product_save>
				<observers>
					<apijs_save_product>
						<class>apijs/observer</class>
						<method>updatePostForGallery</method>
					</apijs_save_product>
				</observers>
			</controller_action_predispatch_adminhtml_catalog_product_save>
		</events>
		<layout>
			<updates>
				<apijs>
					<file>luigifab/apijs.xml</file>
				</apijs>
			</updates>
		</layout>
		<translate>
			<modules>
				<Luigifab_Apijs>
					<files>
						<default>Luigifab_Apijs.csv</default>
					</files>
				</Luigifab_Apijs>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<apijs>
			<general>
				<type>Varien_Image</type>
				<delete_cache>1</delete_cache>
				<browser>1</browser>
				<one_max_size>25</one_max_size>
				<all_max_size>300</all_max_size>
			</general>
			<gallery>
				<picture_width>280</picture_width>
				<picture_height>210</picture_height>
				<thumbnail_width>64</thumbnail_width>
				<thumbnail_height>48</thumbnail_height>
			</gallery>
		</apijs>
	</default>
</config>