/**
 * Copyright 2008-2015 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * Created in 2009, updated S/30/05/2015, version 25
 * https://redmine.luigifab.info/projects/magento/wiki/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL).
 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& dialogues &&& */
#apijsBox { display:inline-block; text-align:left; font:0.8rem sans-serif; }
#apijsBox button { font-family:sans-serif; font-weight:normal; }
#apijsBox button::-moz-focus-inner { margin:-1px; padding:0; }

#apijsBox .left, #apijsBox .right { float:inherit !important; }
#apijsBox.error, #apijsBox .error, #apijsBox .required, #apijsBox .validation-advice { font-weight:inherit !important; color:inherit !important; }

#apijsBox h1, #apijsBox div.control button, #apijsBox div .browse { background-image:url("../../../images/luigifab/apijs/humanity.min.svg"); }
#apijsBox dl.media dt div.player.error { background-image:url("../../../images/luigifab/apijs/tv.gif"); }

@font-face {
	src:url("../../../fonts/luigifab/apijs/icomoon.ttf") format("truetype");
	font-family:icomoon; font-style:normal; font-weight:normal;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& galerie photo &&& */
table.form-list a.apijslink { position:absolute; margin:-36px 0 0 200px; font-size:11px; color:white; text-decoration:none; }
table.form-list a.apijslink:hover, table.form-list a.apijslink:active, table.form-list a.apijslink:focus { text-decoration:underline; }

#apijsGallery table.gallery { width:100%; }
#apijsGallery table.gallery th { padding:2px 5px 4px; text-align:center; line-height:130%; vertical-align:middle; }
#apijsGallery table.gallery th.type { width:5em; }

#apijsGallery table.gallery td { text-align:center; vertical-align:top; }
#apijsGallery table.gallery td button { display:block; margin:2px 0; width:100%; cursor:pointer; }
#apijsGallery table.gallery td button[disabled] { opacity:0.4; cursor:default; }

#apijsGallery table.gallery tbody td:first-of-type { width:200px; padding:3px; }
#apijsGallery table.gallery tbody td * { display:block; }
#apijsGallery table.gallery tbody td span { font-size:10px; white-space:nowrap; }
#apijsGallery table.gallery tbody td input[type="checkbox"],
#apijsGallery table.gallery tbody td input[type="radio"] { margin:0.4em auto 1.1em; cursor:pointer; }
#apijsGallery table.gallery tbody td input[type="text"] { margin-bottom:1em; }

#apijsGallery table.gallery tfoot td p { margin:0.4em 0 0.3em 0.5em; line-height:130%; text-align:left; }